    /*Geral*/

body{
    background-color: lightgray;
}

h1{
    font-size: 40pt;
    text-align: center;
    color: darkgreen;
}

h2{
    position: relative;
    top: 10px;
    font-size: 25pt;
    text-align: center;
}

p{
    text-align: center;
    position: relative;
    top: 20px;
}

    /*Cabeçalho*/

#cabeçalho{
    background-color: bisque;
    border: solid 5px darkblue;
    padding: 50px;
}

#cmais{
    position: absolute;
    top: 25px;
    left: 25px;
    height: 200px;
    width: 200px;
}

#java{
    position: absolute;
    top: 25px;
    right: 25px;
    height: 200px;
    width: 200px;
}

#menu{
    display: flex;
    height: 40px;
    background-color: lightskyblue;
    justify-content: center;
    justify-content: space-evenly;
}

#menu a{
    color: darkred;
    font-size: 15pt;
    font-weight: 1000;
}

    /*Introdução*/

#intro{
    text-align: center;
    color: indigo;
}

#intro p{
    font-family: serif;
    font-size: 20pt;
}

    /*Livros*/

#book{
    height: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

    /*FEI*/
    
#iframes{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
}

    /*Contatos*/

table{
    justify-content: center;
    border: dashed 5px red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th{
    color: red;
}

th, td{
    border: solid 1px red;
    padding: 10px;
}

    /*Consulta*/

#consulta{
    position: relative;
    top: 30px;
    left: 30%; 
    width: 600px;
    text-align: left;
    background-color: yellow;

}

#consulta a{
    padding-left: 90px;
    color: darkred;
}

    /*Rodapé*/

#rodape{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: 50px;
    background-color: bisque;
    padding: 50px;
    height: 50px;
    font-size: 15pt;
    font-family: sans-serif; 
}

#rodape p{
    position: absolute;
    top: 40px;
    left: 40%;
    font-size: 15pt;
    /*Não tem fonte comic sans*/
}

#html{
    position: absolute;
    top: 25px;
    left: 25px;
    height: 100px;
    width: 100px;
}

#css{
    position: absolute;
    top: 25px;
    right: 25px;
    height: 110px;
    width: 85px;
}