/* Geral */

body{
    background-color: lightgray;
}

h1{
    color: darkgreen;
    text-align: center;
    font-size: 40pt;
}

h2{
    font-size: 25pt;
    text-align: center;
}

p{
    text-align: center;
}

/* Header */
#cabeçalho{
    background-color: bisque;
    border: solid 5px darkblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabeçalho img{
    width: 200px;
    height: 200px;
}

#menu{
    background-color: lightskyblue;
}

#links{
    display: flex;
    justify-content: space-evenly;
    color: darkred;
    font-weight: 1000;
    font-size: 10pt;
}

#introdução{
    color: indigo;
    font-size: 20pt;
}

#livros{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}